<div class="container-fluid m-5 d-flex flex-column align-items-sm-center">
  <h1 class="">Uvote</h1>
  <div class="d-flex m-2">
    <button class="btn btn-primary m-2">Presidentes</button>
    <button class="btn btn-primary m-2">Senadores</button>
    <button class="btn btn-primary m-2">Deputados federais</button>
    <button class="btn btn-primary m-2">Governadores</button>
    <button class="btn btn-primary m-2">Deputados estaduais</button>
  </div>
  <div>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Titulo eleitoral">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="N candidato">
        </div>
        <div class="col">
          <button class="btn btn-danger">Votar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="size">
  <h1>Presidente</h1>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome do candidato</th>
        <th scope="col">Numero do candidato</th>
        <th scope="col">Votos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ciro Gomes</td>
        <td>10</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Fernando Haddad</td>
        <td>10</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Henrique meirellles</td>
        <td>10</td>
        <td>20</td>
      </tr>
    </tbody>
  </table>
</div>