<div class="container-fluid m-5 d-flex flex-column align-items-sm-center">
  <h1 class="">Uvote</h1>
  <div class="d-flex m-2">
    <a routerLink="/candidates/" class="btn btn-primary m-2">Todos</a>
    <a routerLink="/candidates/category/Presidentes" class="btn btn-primary m-2">Presidente</a>
    <a routerLink="/candidates/category/Senadores" class="btn btn-primary m-2">Senadores</a>
    <a routerLink="/candidates/category/DeputadosFederais" class="btn btn-primary m-2">Deputados federais</a>
    <a routerLink="/candidates/category/Governadores" class="btn btn-primary m-2">Governadores</a>
    <a routerLink="/candidates/category/DeputadosEstaduais" class="btn btn-primary m-2">Deputados estaduais</a>
  </div>
  <div>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Seu titulo eleitoral">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="N do candidato">
        </div>
        <div class="col">
          <a routerLink="/vote" class="btn btn-danger">Votar</a>
        </div>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>